<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Alkfejl 3. gyakorlat</h1>
    {% block content %}{% endblock %}
    <footer>This is footer.</footer>
</body>
</html>